{% extends 'base.html' %}


{% block content %}
    <h1> Choose command to add </h1>
    <h2>Commandes en ligne </h1>
    <ul>
    {% for commande in listeCommandes %}
       <li>{{ commande|e }}</li>
    {% endfor %}
    <h2>Commandes en checkbutton </h1>
    <ul>
    <label class="btn btn-success active">
    {% for commande in listeCommandes %}
    <p>
    <!-- PN : pourquoi  peut-il  avoir plusieurs cheched ? -->
    <div class="btn-group" data-toggle="buttons">
        <input type="radio" name={{ commande }} id={{ commande }} >
        <label for={{ commande }}> {{ commande }}</label><br>
    </label>
    </div>
    </p>
    {% endfor %}
    {%- for key, value in mcTraite.items() recursive %}                       
        <h3>{{ key }} </h1>                                                            
        {%- if value %}                                                         
            {% if value is mapping %}
              <ul>{{ loop(value.items())}}</ul>                                     
             {%- else %}                                                            
              type {{value[0]}} valeur{{value[1]}}
             {%- endif %}                                                            
        {%- endif %}                                                            
         </li>                                                                     
    {%- endfor %}                                                               

{% endblock %}

